.product-detail-container {
    display: flex;
    margin: 50px;
    justify-content: space-between;
}

.image-gallery {
    width: 50%;
}

.main-image {
    width: 100%;
    height: auto;
    border-radius: 8px;
    margin-bottom: 20px;
}

.thumbnail-container {
    display: flex;
    justify-content: space-around;
}

.thumbnail {
    width: 60px;
    height: 60px;
    cursor: pointer;
    border: 2px solid transparent;
    transition: border 0.3s;
}

.thumbnail.active,
.thumbnail:hover {
    border: 2px solid #f0a500;
}

.product-info {
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.price {
    font-size: 24px;
    font-weight: bold;
    margin: 15px 0;
}

.description {
    font-size: 16px;
    margin-bottom: 20px;
}

.add-to-cart {
    padding: 15px 30px;
    background-color: #f0a500;
    color: #fff;
    border: none;
    cursor: pointer;
    font-size: 16px;
    border-radius: 8px;
}

.add-to-cart:hover {
    background-color: #e69600;
}
