.search-filter {
    display: flex;
    justify-content: space-between;
    margin: 20px 0;
}

.search-input {
    flex: 2;
    padding: 10px;
    margin-right: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
}

.search-filter select {
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    margin-right: 10px;
}

.search-filter select:hover, .search-input:hover {
    border-color: #5cb85c;
}
