.wishlist-container {
  padding: 20px;
  max-width: 800px;
  margin: 50px auto;
}

.wishlist-container h2 {
  text-align: center;
}

.wishlist-container ul {
  list-style: none;
  padding: 0;
}

.wishlist-container li {
  display: flex;
  justify-content: space-between;
  padding: 15px;
  border-bottom: 1px solid #ddd;
}
