.hero {
  text-align: center;
  padding: 4rem;
  background: linear-gradient(to right, #4CAF50, #66BB6A);
  color: white;
}

.hero h1, .hero p, .hero button {
  opacity: 0;
  animation: fadeIn 1.5s forwards;
}

.hero h1 {
  font-size: 2.5rem;
  animation-delay: 0.5s;
}

.hero p {
  font-size: 1.2rem;
  margin-top: 1rem;
  animation-delay: 1s;
}

.hero button {
  margin-top: 2rem;
  padding: 0.75rem 1.5rem;
  border: none;
  background-color: white;
  color: #4CAF50;
  cursor: pointer;
  border-radius: 5px;
  animation-delay: 1.5s;
}

@keyframes fadeIn {
  to { opacity: 1; }
}


@media (max-width: 768px) {
  .hero h2 {
    font-size: 2.2rem;
  }
}
